[submodule "lab1"]
	path = lab1
	url = git@github.com:notnuff-university-projects/parallel-lab-1.git
[submodule "lab2"]
	path = lab2
	url = git@github.com:notnuff-university-projects/mindblowing-sync.git
